@model System.String
@{
    ViewData["title"] = "Results";
}

<h2>Results</h2>

<p>
    Here is your document:
</p>

<div class="output_doc">
    <pre>@Model</pre>
</div>

<p>
    <a href="/Home">Create another document</a>
</p>