@{
    ViewData["Title"] = "Builder";
    var outputFormat = ViewData["Format"];
}

<h2>Create a Document</h2>

<form method="get" action="/Builder/Submit">

    <!-- save the output format in a hidden field-->
    <input type="hidden" name="format" value="@outputFormat" />

    <!-- document title -->
    <p>
        <label name="titleText">Title:</label>
        <br />
        <input type="text" name="titleText" size="50" value="" />
    </p>
    
    <!-- document author -->
    <p>
        <label name="authorText">Author:</label>
        <br />
        <input type="text" name="authorText" size="50" value="" />
    </p>

    <!-- document body -->
    <p>
        <label name="bodyText">Body:</label>
        <br />
        <textarea name="bodyText" rows="10" cols="50"></textarea>
    </p>

    <input type="submit" value="Submit" />

</form>