@{
    ViewData["Title"] = "About";
}
<h2>About the Document Creator</h2>

<p>
    This application demonstrates the Abstract Factory, Builder, Protoype and Singleton patterns.
    The application constructs simple HTML and LaTeX documents, and can easily be extended to
    construct plain text documents, or even other kinds of documents.
</p>

<p>
    Author: Nicholas Paul Sheppard
    <br />
    E-mail: <a href="mailto:Nicholas.Sheppard@SingaporeTech.edu.sg">Nicholas.Sheppard@SingaporeTech.edu.sg</a>
</p>
