@{
    ViewData["Title"] = "About";
}
<h2>ICT2106 Shop</h2>

<p>
    This application represents a simple mail-order shop, demonstrating the Factory, Adapter,
    Composite and Template Method patterns.
</p>

<p>
    Author: Nicholas Sheppard
    <br />
    E-mail: <a href="mailto:Nicholas.Sheppard@SingaporeTech.edu.sg">Nicholas.Sheppard@SingaporeTech.edu.sg</a>
</p>
